﻿@model IEnumerable<BussinessMen.Models.TransactionWebViewModel>
@{
    int i = 1;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css" />
    <script src="https://kit.fontawesome.com/87ff8c244b.js"></script>

</head>
<body>


    <div class="content">

        <!--Encabezado-->
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-secondary" role="alert">
                    <i class="fas fa-university"></i> Sistema de consulta de Gloiath National Bank
                </div>
            </div>
        </div>
        <!--/Encabezado-->
        <!--Formualrio de Consulta-->
        <div class="row">
            <div class="col-lg-12">
                @if (Model.Count() == 0)
                {
                    <form class="form-inline" method="post">
                        <div class="form-group mb-2">
                            <label class="form-label">SKU: </label>
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="text" class="form-control" id="sku" name="sku" placeholder="ej: T0948">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Enviar </button>
                    </form>
                }
            </div>
        </div>
        <!--/Formualrio de Consulta-->
        <!--Listado de Transacciones-->
        @if (Model.Count() > 0)
        {
            <div class="alert alert-info" role="alert">
                Total de Transacciones: @Model.Count() <br />
                Total en EUR: @Model.Sum(x => x.NewAmount).ToString("0.00")
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <a href="/Home" class="btn btn-primary mb-2"><i class="far fa-arrow-alt-circle-left"></i> Regresar</a>
            </div>
            <table class="table table_list">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th class="aligntext_table" scope="col">Sku</th>
                        <th class="aligntext_table" scope="col">Monto Original</th>
                        <th class="aligntext_table" scope="col">Moneda Original</th>
                        <th class="aligntext_table" scope="col">Monto en Euros</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var row in Model)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <th class="aligntext_table">@row.SKU</th>
                            <th class="aligntext_table">@row.Amount.ToString("0.00")</th>
                            <th class="aligntext_table">@row.Currency</th>
                            <th class="aligntext_table">@row.NewAmount.ToString("0.00")</th>
                        </tr>
                        i++;
                    }

                </tbody>
            </table>
        }
        <!--/Listado de Transacciones-->

    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
